div#main-panel
{
    position:absolute;
    top: 5px;
    left: 255px;
    padding: 10px;
    width: calc(100% - 280px);
    height: calc(100% - 30px);
    background-color: rgb(35, 35, 35);
    transition: all 300ms 0s;
}

*
{
  color: rgb(138, 226, 52);
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

button
{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgb(78, 154, 6);;
  background-color: black;
  color: rgb(138, 226, 52);
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
 
}